
footer.footer.bg-footer.align-items-md-center.d-md-flex
    .container.mx-sm-auto.col-md-12.col-11.col-lg-12.mx-auto.py-lg-4.my-lg-4.py-md-5.my-md-4.pt-sm-4.pb-sm-5.my-sm-3.pt-3.pb-5.my-4
        .row
            a(href="/").col-xl-3.col-sm-6.col-12.mt-xl-0.mt-4
                img(src='assets/images/logo/logo.svg')
            .col-xl-3.col-sm-6.col-12.mt-xl-auto.mt-4.d-flex.d-xl-auto
                ul.col-lg-3.col-md-6.col-sm-6
                    li.mega-menu-item
                        a.dropdown-item.ms-3(href="./camisa-de-trabajo")  CATÁLOGO DE PRODUCTOS
                    li.mega-menu-item
                        a.dropdown-item.ms-3(href="./mameluco")  ROPA DE TRABAJO
                    li.mega-menu-item
                        a.dropdown-item.ms-3(href="./mameluco-termico")  ZALZADO DE SEGURIDAD
                    li.mega-menu-item
                        a.dropdown-item.ms-3(href="./bermuda-cargo")  PROTECCIÓN PERSONAL
            .col-xl-2.d-flex.justify-content-xl-center.col-sm-6.col-12.mt-lg-0.mt-4
                ul.col-lg-3.col-md-6.col-sm-6
                    li.mega-menu-item
                        a.dropdown-item.ms-3(href="./camisa-de-trabajo") NOSOTROS
                    li.mega-menu-item
                        a.dropdown-item.ms-3(href="./mameluco")  CONTACTO
            .col-xl-2.d-flex.justify-content-xl-center.col-sm-6.col-12.mt-lg-0.mt-sm-auto.justify-content-sm-end.justify-content-start.mt-5.pt-sm-0.pt-4
                .d-flex.align-content-start
                    //.raya-1.d-xl-block.d-none
                    a(href="mailto:xxxxxxxxx@example.com")
                        img(src='assets/images/icons/email.png').ms-4.w-100
                    a(href="tel:xxxxxxxxx").ms-3
                        img(src='assets/images/icons/call.png').ms-4.w-100
                    a(href="https://www.instagram.com/xxxxxxxxx/").ms-3
                        img(src='assets/images/icons/instagram.png').ms-4.w-100

