extends ../layouts/_app
block variables
    -
        var  title = "Valen";
        var  colorBackground = "bg-white";
        var  menu = {
            home: "active",
            products: " ",
            specialOrders: " ",
            contact: " "
        };
block content
    section#section1
        .owl-carousel.owl-theme.about-us
            div
                img(src='assets/images/about-us/section1/img.png').img-width-100.d-lg-block.d-none
                img(src='assets/images/about-us/section1/img_m.png').img-width-100.d-lg-none.d-block
                div.mt-lg-n22.mt-md-n10.pb-lg-15.mt-n16.pb-13.col-lg-8.col-md-8.mx-auto.mt-xxl-n28
                    p.text-warning.fw-lighter.raya-b.d-grid
                        | NOSOTROS
                    p.text-white.fw-lighter.mt-lg-3.mt-md-3.font-size-xxxl-25
                        | Hace 7 años, un emprendedor visionario identificó una necesidad #[br.d-lg-block.d-none]
                        | creciente en la zona de Neuquén Capital:
                    h1.fs-9.text-warning.fw-lighter.font-size-xxxl-55
                        | LA FATAL DE UNA CASA DE #[br.d-lg-block.d-none]
                        | SEGURIDAD INDUSTRIAL #[br.d-lg-block.d-none]
                        | CONFIABLE.
                    p.text-white.mt-lg-4.mt-md-4.fw-lighter.font-size-xxxl-25
                        | Con determinación y visión, fundó Valen Indumentaria Industrial #[br.d-lg-block.d-none]
                        | con el objetivo de proporcionar soluciones integrales en seguridad #[br.d-lg-block.d-none]
                        | laboral para las empresas locales.
                    div.mt-lg-5.mt-md-5.mt-4
                        a(href="./products.html").btn.btn-warning
                            | CONTÁCTANOS

    section#section2.py-lg-3
        img(src='assets/images/about-us/section2/background.svg').w-100.mt-lg-n15.mt-md-n15.mt-lg-n16.mt-md-n16
        .col-lg-10.col-md-10.mx-auto.py-lg-5.my-4.mt-lg-n26.mt-md-n26.row.col-xxl-8.mt-xxl-n27.py-xxl-0
            .col-lg-5.col-md-5
                img(src='assets/images/about-us/section2/img.png').w-85
            .col-lg-7.col-md-7
                h6.fw-light.fs-6.font-size-xxxl-30 NUESTROS PRODUCTOS
                p.fw-light.lh-4.my-3.font-size-xxxl-25
                    |Desde entonces, hemos crecido y diversificado nuestros servicios para
                    |ofrecerles una amplia selección de Elementos de Protección Personal,
                    |Calzado de Seguridad y Ropa de Trabajo de marcas reconocidas en el
                    |mercado. Desde Guantes y Anteojos de protección hasta botas de seguridad
                    |certificadas y ropa de trabajo duradera, nuestra variedad de productos
                    |garantiza que encuentres exactamente lo que necesitás para proteger a
                    |tus trabajadores y cumplir con las normativas de seguridad laboral.
                h3.fw-light.font-size-xxxl-35
                    |EL OBJETIVO DE PROPORCIONAR SOLUCIONES INTEGRALES EN SEGURIDAD LABORAL PARA LAS EMPRESAS LOCALES.
                a.btn.btn-outline-dark.rounded-0.mt-lg-4.mt-md-4 CATÁLOGO DE PRODUCTOS


    section#section3.py-lg-3.py-xxl-7
        .col-lg-10.col-md-10.mt-lg-10.mt-md-10.mx-auto.col-xxl-8
            h4.fs-6.text-center MARCAS CON LAS QUE TRABAJAMOS
            .row.justify-content-center
                .col-lg-2.col-md-2.col-sm-4.col-12.mt-lg-5.mt-md-5.align-items-center.d-flex.justify-content-center
                    img(src='assets/images/about-us/section3/slider/slider-9.png').w-100
                .col-lg-2.col-md-2.col-sm-4.col-12.mt-lg-5.mt-md-5.align-items-center.d-flex.justify-content-center
                    img(src='assets/images/about-us/section3/slider/slider-8.png').w-100
                .col-lg-2.col-md-2.col-sm-4.col-12.mt-lg-5.mt-md-5.align-items-center.d-flex.justify-content-center
                    img(src='assets/images/about-us/section3/slider/slider-7.png').w-55
                .col-lg-2.col-md-2.col-sm-4.col-12.mt-lg-5.mt-md-5.align-items-center.d-flex.justify-content-center
                    img(src='assets/images/about-us/section3/slider/slider-6.png').w-70
                .col-lg-2.col-md-2.col-sm-4.col-12.mt-lg-5.mt-md-5.align-items-center.d-flex.justify-content-center
                    img(src='assets/images/about-us/section3/slider/slider-3.png').w-100
            .row.justify-content-center
                .col-lg-2.col-md-2.col-sm-4.col-12.mt-lg-5.mt-md-5.align-items-center.d-flex.justify-content-center
                    img(src='assets/images/about-us/section3/slider/slider-5.png').w-65
                .col-lg-2.col-md-2.col-sm-4.col-12.mt-lg-5.mt-md-5.align-items-center.d-flex.justify-content-center
                    img(src='assets/images/about-us/section3/slider/slider-4.png').w-85
                .col-lg-2.col-md-2.col-sm-4.col-12.mt-lg-5.mt-md-5.align-items-center.d-flex.justify-content-center
                    img(src='assets/images/about-us/section3/slider/slider-2.png').w-100
                .col-lg-2.col-md-2.col-sm-4.col-12.mt-lg-5.mt-md-5.align-items-center.d-flex.justify-content-center
                    img(src='assets/images/about-us/section3/slider/slider-1.png').w-50
    section#section4.py-lg-3
        img(src="assets/images/about-us/section4/background.svg", alt="", srcset="").w-100
        .mt-lg-n22.mt-md-n22.mt-xxl-n27
            .row.col-lg-10.col-md-10.mx-auto.col-xxl-8
                .col-lg-6.col-md-6
                    h6.fw-light.fs-6 NUESTRA MARCA
                    p.fw-light.lh-4.my-3
                        | También nos enorgullece ofrecer una amplia variedad de
                        | productos bajo nuestra marca propia, Valen.NQN. Esta línea
                        | de productos, lanzada hace dos años, representa nuestra
                        | dedicación a la calidad y la innovación en el campo de
                        | la seguridad laboral.
                        | #[br]
                        | #[br]
                        | Nos especializamos en la fabricación de ropa de trabajo de
                        | primera calidad para proteger a tus trabajadores mientras
                        | ofrecen comodidad y durabilidad en cada jornada laboral.
                        | Desde camisas hasta pantalones de jean y pantalones cargo
                        | reforzados, pasando por camperas térmicas, buzos y  mamelucos,
                        | cada pieza está diseñada con meticulosa atención a la seguridad
                        | y el rendimiento.
                    a.btn.btn-warning.rounded-0.mt-lg-4.mt-md-4 CONOCÉ VALEN.NQN

                .col-lg-6.col-md-6
                    img(src="assets/images/about-us/section4/img.png", alt="", srcset="").offset-lg-1
    section#section5.py-lg-3
        .row.col-lg-10.col-md-10.col-xxl-8.mx-lg-auto.my-lg-10.mt-xxl-13.mx-xxl-auto.mb-xxl-10
            .col-lg-6.col-md-6.px-lg-5
                h6.fw-light.fs-8 MISIÓN
                p
                    | Proteger y cuidar a los trabajadores en todos los entornos
                    | laborales mediante la provisión de productos de alta calidad
                    | y un servicio excepcional, cumpliendo con las normativas de
                    | seguridad y contribuyendo al éxito de nuestros clientes.
            .col-lg-6.col-md-6.px-lg-5
                h6.fw-light.fs-8 VISIÓN
                p
                    | Convertirnos en el líder regional en seguridad laboral, ofreciendo
                    | soluciones innovadoras y personalizadas que garanticen la protección
                    | y el bienestar de los trabajadores, estableciendo estándares de
                    | excelencia en la industria.
